$body-color: hsl(235, 18%, 26%);
$main-color: hsl(0, 0%, 100%);
$button-color: hsl(234, 29%, 20%);
$font: "Roboto", sans-serif;
$tomato-color: hsl(4, 100%, 67%);

body {
  background-color: $body-color;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $font;
}

.container {
  background-color: $main-color;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 700px;
  width: 900px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 29px;
}

h1 {
  color: $body-color;
  font-size: 58px;
}

label {
  align-items: center;
}

legend {
  color: $button-color;
  font-weight: 600;
}

.emailInput {
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid;
  border-color: hsl(231, 7%, 60%);
  padding: 10px;
  margin-bottom: 10px;
  height: 30px;
  width: 90%;
}

button {
  background-color: $button-color;
  cursor: pointer;
  border: none;
  color: $main-color;
  size-adjust: 60px;
  border-radius: 10px;
  width: 97%;
  height: 50px;
  font-size: medium;
  margin-top: 20px;
}

button:hover {
  background-color: $tomato-color;
}
